body {
    font-family: 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #f5f2e9; /* Lys brun bakgrunnsfarge */
    color: #333;
}

h1 {
    color: #333;
}

button {
    background-color: #8b5d2e; /* Mørkere brun knappefarge */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d2b48c; /* Lysere brun hover-effekt på knappen */
}

select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #d2b48c; /* Lys brun kant */
    background-color: #fff; /* Hvit bakgrunn */
}
