body {
    font-family: 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f5f2e9;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #8b5d2e;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #8b5d2e;
}

/* Endring her for å vise produkter, omdømme etc. horisontalt */
.horizontal-list {
    display: flex;
    overflow-x: scroll; /* Gjør at man kan scrolle horisontalt om det er mange elementer */
    white-space: nowrap; /* Hindrer innholdet i å bryte til neste linje */
}

.horizontal-list .product,
.horizontal-list .reputation-item,
.horizontal-list .review-item {
    width: 200px;
    height: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #d2b48c;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    transition: transform 0.3s ease;
}

.horizontal-list .product img,
.horizontal-list .reputation-item img,
.horizontal-list .review-item img {
    max-width: 100%;
    max-height: 150px;
    margin-bottom: 10px;
}

.horizontal-list .product:hover,
.horizontal-list .reputation-item:hover,
.horizontal-list .review-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #8b5d2e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d2b48c;
}

#form-container {
    margin-bottom: 20px;
}

.logout-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #8b5d2e;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #d2b48c;
}

.logout-button a {
    color: #fff;
    text-decoration: none;
}

.logout-button a:hover {
    color: #d2b48c;
}
